<div class="ui">
    <div class="ui divider container">
    </div>

    <div class="ui container">
        <form class="ui form" action="/" id="myLogin"> 
            <div class="field">
                <label>User Name</label>
                <input type="text" name="userName" placeholder="User Name" ng-model="login.userName" id="username"/>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" ng-model="login.password" id="password">
            </div>
            <div class="field">
                <div class="ui error message"></div>
                <button ng-click="submit()" routerLink="/gallery" class="ui primary submit button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>